<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937470106065-sj5pkorf4mgeiqd1a400pp2jvfgortto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937470106065-sj5pkorf4mgeiqd1a400pp2jvfgortto</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0R8nd8YNdReGXO3VqurpWFitnCCoxVE</string>
	<key>GCM_SENDER_ID</key>
	<string>937470106065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.callidus.MultiplosProjetosFirebase</string>
	<key>PROJECT_ID</key>
	<string>projetob-13e9f</string>
	<key>STORAGE_BUCKET</key>
	<string>projetob-13e9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937470106065:ios:d24a6e96695eedf20ce8f0</string>
</dict>
</plist>